*, *:before, *:after {
box-sizing: inherit;
}

body {
    background-color: #F3F6F7;
    font-family: open-reg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #202020;
}

.container {
  max-width: 1140px;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

input, textarea, select, option {
  color: #202020;
  font-family: open-reg, Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 4px;
  background-color: #F3F6F7;
  border: 1px solid #B8B8B8;
  border-radius: 4px;
  height: max-content;
}

label {
  color: #333333;
  font-size: 16px;
  text-align: right;
  margin-top: 5px;
  height: max-content;
}

select {
  width: max-content;
  height: 22px;
}

button {
  height: max-content;
  font-family: open-reg, Arial, Helvetica, sans-serif;
}

/*Repeated use*/

.flex-horizontal {
  display: flex;
}

.sidebar .flex-horizontal {
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-radius: 4px;
  margin: 0;
}

.sidebar .flex-horizontal:first-of-type {
  margin-bottom: 10px;
}

.sidebar .flex-horizontal:hover {
  background-color: #E4EBEC;
  cursor: pointer;
}

.sidebar .flex-horizontal:first-of-type:hover {
  background-color: #F3F6F7;
  cursor: initial;
}

/*Header & below*/

header {
    width: 100%;
    height: 50px;
    background-color: #29363D;
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
}

#nav-left {
  display: flex;
  align-items: center;
  padding-left: 36px;
}

#nav-right {
  display: flex;
  align-items: center;
  padding-right: 36px;
}

.sidebar {
  display: initial !important;
  height: 500px;
  width: 200px;
  padding: 36px 0 0 36px;
  margin-left: -200px;
  color: #333333;
  transition: all 0.4s;
}

.sidebar-open {
  margin-left: 0px;
}

#project-list {
  display: flex;
  flex-direction: column;
}

#project-list p {
  margin-left: 6px;
}

.sidebar-title {
  font-family: open-semi-b, Arial, Helvetica, sans-serif;
}

.quickAddGrid {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 12px;
  grid-template-areas: "priority priority"
                       "title-l title"
                       "description-l description"
                       "project-l project"
                       ".    add";
  width: 600px;
  height: max-content;
  margin: 32px auto 0 auto;
  transform: translateZ(0);
}

#utility-bar {
  grid-area: priority;
  margin-left: auto;
}

#priority-div {
  position: fixed;
  top: -16px;
  right: -16px;
  width: 200px;
  border-radius: 4px;
  background-color: #F3F6F7;
  border: 1px solid #B8B8B8;
}

#priority-div .flex-horizontal {
  padding: 4px;
}

#priority-div .flex-horizontal:hover {
  background-color: #E4EBEC;
  cursor: pointer;
}

#priority-div i {
  margin-right: 8px;
  margin-bottom: 12px;
}

#priority-div i:last-of-type {
  margin-bottom: 0;
}

.priority-option {
  height: 22px;
  padding: 4px 0;
}

#title-l {
  grid-area: title-l;
}

#title {
  grid-area: title;
}

#description-l {
  grid-area: description-l
}

#description {
  grid-area: description;
  height: 44px;
}

#project-l {
  grid-area: project-l;
}

.add-btn {
  width: 60px;
  border-radius: 6px;
  padding: 4px;
  background-color: #C3423F;
  color: #fff;
  border: none;
  font-size: 16px;
  margin-left: 8px;
}

.cancel-btn {
  width: 60px;
  border-radius: 6px;
  padding: 4px;
  color: #333333;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.cancel-btn:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

.quickAddGrid .flex-horizontal {
  grid-area: add;
  margin-left: auto;
}

.project-row {
  display: flex;
  justify-content: space-between;
  grid-area: project;
}

/*Fonts*/

@font-face {
  font-family: 'open-reg';
  src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'open-semi-b';
  src: url('../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'open-b';
  src: url('../assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('woff2');
  font-style: normal;
}

/*Icons*/

.icon-bg-first {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 6px;
}

.icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 6px;
  margin-left: 12px;
}

.icon-bg:hover {
  background-color: #33444D;
}

.icon-bg-first:hover {
  background-color: #33444D;
}

.utility-icon-bg:hover {
  background-color: #E4EBEC;
  cursor: pointer;
}

.menu-icon {
  display: block;
  background-image: url('../assets/icons/menu.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 18px;
}

.home-icon {
  display: block;
  background-image: url('../assets/icons/house.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 18px;
}

.add-icon {
  display: block;
  background-image: url('../assets/icons/close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 18px;
  transform: rotate(0deg);
  transition: all 0.4s;
}

.add-icon-rotated {
  transform: rotate(45deg);
}

.utility-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  border-radius: 6px;
  margin-left: 12px;
}

.flag-grey-icon {
  display: block;
  background-image: url('../assets/icons/flag-grey-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}

.flag-red-icon {
  display: block;
  background-image: url('../assets/icons/flag-red-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}

.flag-orange-icon {
  display: block;
  background-image: url('../assets/icons/flag-orange-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}

.close-icon {
  display: block;
  background-image: url('../assets/icons/darkclose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}

.arrow-down-icon {
  display: block;
  background-image: url('../assets/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 10px;
  width: 10px;
  margin-right: 8px;
}

.bullet-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #549735;
  margin-right: 8px;
}